<h1>Popular Movies</h1>

<form ng-submit="findMovies($event)" action="" method="POST" class="form-inline" role="form">

	<div class="form-group">
		<label class="sr-only" for="">label</label>
		<input ng-model="moviesQuery" type="text" class="form-control" id="" placeholder="Input movie name">
	</div>

	<button type="submit" class="btn ">Search</button>
</form>

<div class="movie-container">

	<div ng-repeat="movie in movies | filter: { title : filterMovies } " class="moviePoster">
		<img class="poster" src="{{urlImg + movie.poster_path}}"></img>
		<p>{{ movie.title }}</p>

	</div>
</div>


