.poster {
	width: 90%
}
.moviePoster {
	width: 20%;
}

.movie-container {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
}

#main-container {
	text-align: center;
}

#main-container form{
	margin-top: 50px;
	margin-bottom: 50px;
}
/*#main-container .form-control{
	width: 100%
}
#main-container .form-group{
	width: 50%
}*/
