<h2>{{ title }}</h2>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text">
        <h1><strong>Bootstrap</strong> Contact Form</h1>
        <div class="description">
            <p>
                This is a free responsive contact form made with Bootstrap.
                Download it on <a href="http://azmind.com"><strong>AZMIND</strong></a>, customize and use it as you like!
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3 form-box">
        <div class="form-top">
            <div class="form-top-left">
                <h3>Contact us</h3>
                <p>Fill in the form below to send us a message:</p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-envelope"></i>
            </div>
        </div>
        <div class="form-bottom contact-form">
            <form role="form" action="assets/contact.php" method="post">
                <div class="form-group">
                    <label class="sr-only" for="contact-email">Email</label>
                    <input ng-model="email" type="text" name="email" placeholder="Email..." class="contact-email form-control" id="contact-email">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="contact-subject">Subject</label>
                    <input type="text" name="subject" placeholder="Subject..." class="contact-subject form-control" id="contact-subject">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="contact-message">Message</label>
                    <textarea name="message" placeholder="Message..." class="contact-message form-control" id="contact-message"></textarea>
                </div>
                <button ng-click="sendMessage($event)" type="submit" class="btn">Send message</button>
            </form>
        </div>
    </div>
</div>
